/*  -- MOBILE FIRST Layout!!! -- */

/* General Rules */
@import "partials/variables";

* {
    margin: 0;
    padding: 0;
}
.container {

    width: 100%;
    height: auto;

    background-color: $bgc-page;
    font-family: $font-THE;
}

a {
    text-decoration: none;

    li{
        color: $txtc-light;
    }
}

/* Header */

.header {
    width: 100%;
    height: 10rem;
    background-color: $bgc-header;

    .headwrap {
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;

        justify-content: center;
        align-items: flex-end;

        .logo {
            width: 70%;
            height: 70%;

            img { width: 100%;}
        }

        #headbanner {
            display: none;
        }

    }
}

/* end of Header*/

/*Nav Bar */

.nav {
    width: 100%;
    height: 4rem;
    background-color: $bgc-nav;
    color: $txtc-light;



    ul {
        
        width: 85%;
        height:100%;
        margin: auto;

        display: flex;
        justify-content: space-around;
        align-items: center;

        list-style: none;

        li {
            font-size: 1.6rem;
        }

    }
    
}

/* end of Nav Bar */

/* Main content */

.main {

    width: 100%;
    height: auto;

    .date {
        width: 100%;
        height: 4rem;
        display: none;
    }

    .title {

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 5rem;

        margin-top: 3rem;

        background-color: $bgc-title;

        color: $txtc-dark;
        font-size: 2rem;
    }

    #adbanner {

        display: none;
    }

    .topnews,
    .pop,
    .extra {

        width: 100%;

        display: flex;
        flex-flow: column;

        gap: 3rem;

        justify-content: center;
        align-items: center;

        a {
            height: 75vw;
        }

        .box{

            display: flex;
            flex-flow: column;

            width: 80vw;
            height: 75vw;       
            
    
            img {
                width: 100%;
                object-fit: cover;

            }

            .caption {
                width: 100%;
                height: 100%;

                background-color: $bgc-nav;

                display: flex;

                justify-content: center;
                align-items: center;


                font-size: 1.5rem;
                color: $txtc-light;
                text-align: center;

                p {
                    margin: 0.5rem 1rem;
                }

            }
    
        }
    

    }


}

