/*  -- MOBILE FIRST Layout!!! -- */
/* General Rules */
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

a li {
  color: #FFFFFF;
}

/* Header */
.header {
  width: 100%;
  height: 10rem;
  background-color: #5B191A;
}

.header .headwrap {
  width: 100%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .headwrap .logo {
  width: 70%;
  height: 70%;
}

.header .headwrap .logo img {
  width: 100%;
}

.header .headwrap #headbanner {
  display: none;
}

/* end of Header*/
/*Nav Bar */
.nav {
  width: 100%;
  height: 4rem;
  background-color: #0E0D0D;
  color: #FFFFFF;
}

.nav ul {
  width: 85%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.nav ul li {
  font-size: 1.6rem;
}

/* end of Nav Bar */
/* Main content */
.main {
  width: 100%;
  height: auto;
}

.main .date {
  width: 100%;
  height: 4rem;
  display: none;
}

.main .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5rem;
  margin-top: 3rem;
  background-color: #C4C4C4;
  color: #000000;
  font-size: 2rem;
}

.main #adbanner {
  display: none;
}

.main .topnews,
.main .pop,
.main .extra {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .topnews a,
.main .pop a,
.main .extra a {
  height: 75vw;
}

.main .topnews .box,
.main .pop .box,
.main .extra .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 80vw;
  height: 75vw;
}

.main .topnews .box img,
.main .pop .box img,
.main .extra .box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .topnews .box .caption,
.main .pop .box .caption,
.main .extra .box .caption {
  width: 100%;
  height: 100%;
  background-color: #0E0D0D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  color: #FFFFFF;
  text-align: center;
}

.main .topnews .box .caption p,
.main .pop .box .caption p,
.main .extra .box .caption p {
  margin: 0.5rem 1rem;
}

/* end of Main Section */
/* Footer */
.footer {
  margin: 7rem 0 0 0;
  height: 20rem;
  background-color: #0E0D0D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.footer .foot1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.footer .foot1 ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  gap: 0.5rem;
  font-size: 1.6rem;
}

.footer p {
  font-size: 1.2rem;
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */