/*  -- MOBILE FIRST Layout!!! -- */

/* General Rules */

@import "partials/variables";


/* Media Queries */

@import "partials/desktop";

@import "partials/tablet";





* {
    margin: 0;
    padding: 0;
}
.container {

    width: 100%;
    height: auto;

    background-color: $bgc-page;
    font-family: $font-THE;
}

a {
    text-decoration: none;

    li{
        color: $txtc-light;
    }
}

/* Header */

.header {
    width: 100%;
    height: 10rem;
    background-color: $bgc-header;

    .headwrap {
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;

        justify-content: center;
        align-items: flex-end;

        .logo {
            width: 70%;
            height: 70%;

            img { width: 100%;}
        }

        #headbanner {
            visibility: hidden;
            height:0px;
            width:0px;

            img {
                width: 100%;
            }
        }

    }
}

/* end of Header*/

/*Nav Bar */

.nav {
    width: 100%;
    height: 4rem;
    background-color: $bgc-nav;
    color: $txtc-light;



    ul {
        
        width: 85%;
        height:100%;
        margin: auto;

        display: flex;
        justify-content: space-around;
        align-items: center;

        list-style: none;

        li {
            font-size: 1.6rem;
        }

    }
    
}

/* end of Nav Bar */

/* Main content */

.date {
    width: 95%;
    height: 0px;

    visibility: hidden;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    font-size: 1.3rem;
    text-align: right;
}

.main {

    width: 100%;
    height: auto;

    .title {

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 5rem;

        margin-top: 3rem;

        background-color: $bgc-title;

        color: $txtc-dark;
        font-size: 2rem;
    }

    #adbanner {
        width: 80%;
        height: 0;

        margin: 3rem auto 0 auto;
        visibility: hidden;

        a {
            width:auto;
        }

        img {
            width:100%;
        }
    }

    .topnews,
    .pop,
    .extra {

        width: 100%;

        display: flex;
        flex-flow: column;

        gap: 3rem;

        justify-content: center;
        align-items: center;

        a {
            height: 75vw;
        }

        .box{

            display: flex;
            flex-flow: column;

            width: 80vw;
            height: 75vw;       
            
    
            img {
                width: 100%;
                object-fit: cover;

            }

            .caption {
                width: 100%;
                height: 100%;

                background-color: $bgc-nav;

                display: flex;

                justify-content: center;
                align-items: center;


                font-size: 1.5rem;
                color: $txtc-light;
                text-align: center;

                p {
                    margin: 0.5rem 1rem;
                }

            }
    
        }
    

    }


}

/* end of Main Section */

/* Footer */

.footer {
    margin: 7rem 0 0 0;
    height: 20rem;

    background-color: $bgc-nav;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    gap: 3rem;

    .foot1 {
        display: flex;
        flex-flow: column-reverse;
        align-items: center;

        gap: 3rem;

        ul{
            list-style: none;
            display: flex;
            flex-flow: row;
            gap:0.5rem;
            
            font-size: 1.6rem;
        }

    }

    p {
        font-size: 1.2rem;
        color: $txtc-light;
    }



}
