@media (min-width:481px) and (max-width: 1200px) {

    /* Header */

    .container {

        width: 100%;

        .header {
            width: 100%;
            height: 10rem;
            background-color: $bgc-header;
        
            .headwrap {
                width: 50%;
                height: 70%;
                margin: auto;
                display: flex;
        
                justify-content: center;
                align-items: flex-end;
        
                .logo {
                    width: 70%;
                    height: 70%;
        
                    img { width: 100%;}
                }
        
                #headbanner {
                    visibility: hidden;
                    height:0px;
                    width:0px;
        
                    img {
                        width: 100%;
                    }
                }
        
            }
        }

        /* end of Header*/

        /*Nav Bar */

        .nav {

            ul { 
                width: 100%;
                margin: 0;

                display: flex;
                justify-content: start;
                gap: 1.8rem;
                margin: 0 0 0 3rem;

                li {
                        font-size: 3.5vw;
                        display: inline;
                }
            }
                
        }

        /* end of Nav Bar */

            
        /* Main content */

        .date {
            height: 4rem;
            visibility: visible;
        }


        .main {
            width: 80%;
            margin: auto;
            .title {
                justify-content: flex-start;
                height: 4rem;
                padding-left: 1rem;
                font-size: 1.5rem;
            }

            #adbanner {
                height:100%;
                visibility: visible;
                margin: 2rem auto;

            }

            .topnews,
            .pop,
            .extra {

                width: 100%;
                height: auto;
                margin: auto;

                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;

                a { height: 34vw;}

                .box{
                    width: 33vw;
                    height: 34vw;       
                    .caption {

                        font-size: 2.2vw;

                        p {
                            margin: 0.5rem 2rem;
                        }
                    }

                  
                }

                .third {
                    display: none;
         
                }
            }


        }

        /* end of Main Section */

        /* Footer */

    /* Footer */

.footer {
    margin: 7rem 0 0 0;
    height: 20rem;

    background-color: $bgc-nav;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    gap: 3rem;

    .foot1 {
        display: flex;
        flex-flow: column-reverse;
        align-items: center;

        gap: 3rem;

        ul{
            list-style: none;
            display: flex;
            flex-flow: row;
            gap:0.5rem;
            
            font-size: 3vw;
        }

    }

    p {
        font-size: 3vw;
        color: $txtc-light;
    }



}


    }
    
}

