//background colors

$bgc-header: #5B191A;
$bgc-nav: #0E0D0D;
$bgc-page: #FFFFFF;
$bgc-title: #C4C4C4;

$bgc-figcap: $bgc-nav;

//fonts colors

$txtc-light: #FFFFFF;
$txtc-dark: #000000;

// fonts

$font-THE: Helvetica, sans-serif;